
td {
	border: 1px solid green;
}

.cell {
	height: 100px;
	width: 100px;
	color: purple;
	/*border-style: solid;*/
	/*border-color: purple;*/
	overflow: hidden;
	align-content: center;
	table-layout:fixed;
	white-space: nowrap;
}

.burns{
	background-image: url("burns.jpg");
}

