.cell {
	height: 50px;
	width: 50px;
	color: purple;
	border-style: solid;
	border-color: purple;
	overflow: hidden;
}
.ttt-grid {
  margin: auto; 
}
.outer {
  position: relative;
}
img {
  height: auto; 
  width: auto; 
  max-width: 50px; 
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.dpad {
	margin-left: auto;
	margin-right: auto;
}
.btn {
  margin: 20px;
  height: 35px;
  padding: 0px 10px 0px 10px;
}
.btn-dir {
  margin: 10px;
  height: 35px;
  width: 70px;
  padding: 0px;
}